
<div class="container">
  <%= link_to 'Back to Home', root_path %>
  <div class="mt-5">
    <p>Title: <%= @game.title %></p>
    <div class="mt-5">
      <p>Description: <%= @game.description %></p>
    </div>
  </div>
</div>
