.card-char {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-char img.char-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  flex-shrink: 0;
}

.card-char-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 16px;
}

.card-char-infos {
  flex-grow: 1;
}

.card-char h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-char a {
  text-decoration: none;
}

.card-char p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.char-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 4px;
}
