:root {
  --sheet-width: 800px;
  --bg: white;
  --faded: #ddd;
  --faded-light: #eee;
  --faded-dark: #bbb;
  --radius: 10px;
  --gutter: 10px;
  --bubble-size: 10px;
  --small-box-width: 30px;
  --large-box-width: 70px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.hide {
  display: none !important;
}

textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - var(--radius) * 2 - 2px);
  border-radius: var(--radius);
  padding: var(--radius);
  resize: none;
  overflow: hidden;
  height: 15em;
}

input[type="checkbox"] {
  cursor: pointer;
}

div.box {
  margin-top: var(--gutter);
}

form.charsheet {
  width: var(--sheet-width);
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

form.charsheet div.textblock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}

form.charsheet div.textblock label {
  text-align: center;
  border: 1px solid black;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - var(--radius) * 2 - 2px);
  border-radius: 0 0 var(--radius) var(--radius);
  padding: 4px 0;
  font-weight: bold;
}

form.charsheet div.textblock textarea {
  border: 1px solid black;
}

form.charsheet ul {
  margin: 0;
  padding: 0;
}

form.charsheet ul li {
  list-style-image: none;
  display: block;
}

::placeholder {
  color: var(--faded-dark);
}

form.charsheet label {
  text-transform: uppercase;
  font-size: 12px;
}

form.charsheet header {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

form.charsheet header section.charname {
  border: 1px solid black;
  border-right: 0;
  border-radius: var(--radius) 0 0 var(--radius);
  padding: 5px 0;
  background-color: var(--faded-light);
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
}

form.charsheet header section.charname input {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}

form.charsheet header section.charname label {
  padding-left: 1em;
}

form.charsheet header section.misc {
  width: 70%;
  border: 1px solid black;
  border-radius: var(--radius);
  padding-left: 1em;
  padding-right: 1em;
}

form.charsheet header section.misc ul {
  padding: 10px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}

form.charsheet header section.misc ul li {
  width: 33.33333%;
  display: flex;
  flex-direction: column-reverse;
}

form.charsheet header section.misc ul li label {
  margin-bottom: 5px;
}

form.charsheet header section.misc ul li input {
  border: 0;
  border-bottom: 1px solid var(--faded);
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--gutter) * 2);
}

main div.label-container {
  position: relative;
  width: 100%;
  height: calc(var(--small-box-width) - var(--radius) - 2px);
  margin-top: calc(var(--radius) / 2 + 1px);
  border: 1px solid black;
  border-left: 0;
  text-align: center;
}

main div.label-container > label {
  position: absolute;
  left: 0;
  top: 1px;
  transform: translate(0%, 50%);
  width: 100%;
  font-size: 8px;
}

main > section {
  width: 32%;
  display: flex;
  flex-direction: column;
}

main > section.attributes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main > section.attributes div.scores {
  width: calc(70px + 31px);
  background-color: var(--faded-dark);
  border-radius: var(--radius);
  padding-bottom: calc(var(--gutter) / 2);
}

main > section.attributes div.scores label {
  font-size: 8px;
  font-weight: bold;
}

main > section.attributes div.scores ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

main > section.attributes div.scores ul li {
  height: 80px;
  width: 70px;
  background-color: var(--bg);
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
}

main > section.attributes div.scores ul li input {
  width: 100%;
  padding: 0;
  border: 0;
}

main > section.attributes div.scores ul li div.score input {
  text-align: center;
  font-size: 40px;
  padding: 2px 0px 0px 0px;
  background: var(--bg);
}

main > section.attributes div.scores ul li div.modifier input {
  background: var(--bg);
  width: calc(var(--radius) * 3);
  height: calc(var(--radius) * 2);
  border: 1px inset black;
  border-radius: calc(var(--radius) * 2);
  margin: -1px;
  text-align: center;
}

main > section.attributes div.attr-applications div.inspiration {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

main > section.attributes div.attr-applications div.inspiration input {
  appearance: none;
  border: 1px solid black;
  padding: calc(var(--small-box-width) / 2);
  border-radius: var(--radius);
}

main > section.attributes div.attr-applications div.proficiencybonus {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

main > section.attributes div.attr-applications div.proficiencybonus input {
  width: var(--small-box-width);
  height: calc(var(--small-box-width) - 2px);
  border: 1px solid black;
  text-align: center;
  border-radius: var(--radius);
}

main > section.attributes div.attr-applications div.list-section {
  border: 1px solid black;
  border-radius: var(--radius);
  padding: var(--gutter) calc(var(--gutter) / 2);
}

main > section.attributes div.attr-applications div.list-section div.label {
  margin-top: var(--gutter);
  margin-bottom: calc(var(--gutter) / 4);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

main > section.attributes div.attr-applications div.list-section ul li {
  display: flex;
  align-items: center;
}

main > section.attributes div.attr-applications div.list-section ul li > * {
  margin-left: calc(var(--gutter) / 2);
}

main > section.attributes div.attr-applications div.list-section ul li label {
  text-transform: none;
  font-size: 8px;
  text-align: left;
  order: 3;
}

main > section.attributes div.attr-applications div.list-section ul li label span.skill {
  color: var(--faded-dark);
}

main > section.attributes div.attr-applications div.list-section ul li input[type="text"] {
  width: 30px;
  font-size: 12px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  order: 2;
}

main > section.attributes div.attr-applications div.list-section ul li input[type="checkbox"] {
  appearance: none;
  width: var(--bubble-size);
  height: var(--bubble-size);
  border: 1px solid black;
  border-radius: var(--bubble-size);
  order: 1;
}

main > section.attributes div.attr-applications div.list-section ul li input[type="checkbox"]:checked {
  background-color: black;
}

div.passive-perception {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

div.passive-perception input {
  width: var(--small-box-width);
  height: calc(var(--small-box-width) - 2px);
  text-align: center;
  border: 1px solid black;
  border-radius: var(--radius);
}

div.otherprofs textarea {
  height: 26em;
}

section.combat {
  background-color: var(--faded-light);
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--radius);
}

section.combat > div {
  overflow: hidden;
}

section.combat > div.armorclass,
section.combat > div.initiative,
section.combat > div.speed {
  width: 50%;
  display: inline-block;
  padding-left: calc(var(--gutter) / 2);
}

section.combat > div.armorclass input,
section.combat > div.initiative input,
section.combat > div.speed input {
  width: 60%;
}

section.combat > div.armorclass label,
section.combat > div.initiative label,
section.combat > div.speed label {
  font-size: 10px;
}

section.combat > div.armorclass div.label,
section.combat > div.initiative div.label,
section.combat > div.speed div.label {
  font-weight: bold;
  font-size: 8px;
  text-align: left;
  text-transform: uppercase;
}

section.combat div.hp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section.combat div.hp div.current,
section.combat div.hp div.max {
  width: 30%;
}

section.combat div.hp div.current input,
section.combat div.hp div.max input {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 100%;
  margin: 0;
}

section.combat div.hp div.current label,
section.combat div.hp div.max label {
  text-align: center;
  font-size: 8px;
}

section.combat div.hp div.temp {
  width: 30%;
}

section.combat div.hp div.temp input {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 100%;
  margin: 0;
}
