.navbar-lewagon {
  justify-content: start;
  background: #EEEEEE;
  border-bottom: 1px solid #D84040;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-right: auto; /* Push it to the left */
}

.navbar-left .nav-item {
  margin-left: 15px;
}

.navbar-nav.ms-auto {
  margin-left: auto; /* Push dropdown menu to the right */
}
